#footer {
  background: #f5fcfc;
  padding: 40px 0 10px;
  .top-text h1 {
    padding-bottom: 30px;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    color: #17494d;
    border-bottom: 1px solid #e9ebed;
    @media screen and (max-width: (map-get($breakpoints, md) - 1)) {
      font-size: 70px;
      line-height: 70px;
    }
    @media screen and (max-width: (map-get($breakpoints, sm) - 1)) {
      font-size: 58px;
      line-height: 58px;
    }
    @media screen and (max-width: (map-get($breakpoints, xs) - 1)) {
      font-size: 45px;
      line-height: 45px;
    }
  }
  .footer-mid {
    padding: 30px 10px;
    @media screen and (max-width: 577px) {
      text-align: center;
      .region {
        padding: 10px 0;
      }
      .spc-links li {
        padding-left: 1rem;
        a {
          color: #68737d;
        }
      }
    }
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: #2f3941;
    }
    ul.social-media-icons {
      display: flex;
      margin-left: -30px;
      @media screen and (max-width: 577px) {
        justify-content: center;
      }
      li {
        a {
          margin-right: 10px;
          text-decoration: none;
          &.grow {
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: scale(1.3);
            }
          }
        }
        a.fa-facebook {
          @include icon;
          &:hover {
            color: #196be6;
          }
        }

        a.fa-twitter {
          @include icon;
          &:hover {
            color: #00abef;
          }
        }
        a.fa-github {
          @include icon;
          &:hover {
            color: #00abef;
          }
        }

        a.fa-google {
          @include icon;
          &:hover {
            color: #d73825;
          }
        }

        a.fa-linkedin {
          @include icon;
          &:hover {
            color: #668fc7;
          }
        }

        a.fa-youtube {
          @include icon;
          &:hover {
            color: #d23523;
          }
        }
        a.fa-pinterest {
          @include icon;
          &:hover {
            color: #d23523;
          }
        }

        span {
          display: none;
        }
      }
    }
    .region-footer-second {
      li {
        a {
          color: #68737d;
          font-weight: $fw5;
          &:hover {
            color: #bf3654;
          }
        }
        span {
          color: #68737d;
        }
      }
    }
    .region-footer-third {
      ul {
        display: flex;
        flex-direction: column;
        line-height: 0.8;
        li {
          a {
            color: #68737d;
            font-weight: $fw5;
            &:hover {
              color: #bf3654;
            }
          }
          span {
            color: #68737d;
            font-weight: $fw5;
          }
        }
      }
      #block-mainnavigation-2 > ul > li:nth-child(1),
      li:nth-child(2) {
        display: none;
      }
    }
    .region-footer-fourth {
      ul {
        display: flex;
        flex-direction: column;
        line-height: 0.8;
        padding-left: 20px;
        li {
          a {
            color: $maincolor;
            font-weight: $fw5;
            &:after {
              content: "\2197";
              padding-left: 6px;
            }
            &:hover {
              color: #bf3654;
            }
          }
          span {
            color: #68737d;
            &:after {
              content: "\2197";
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid #e9ebed;
    padding-top: 30px;
    font-weight: $fw5;
    @media screen and (max-width: (map-get($breakpoints, sm) - 1)) {
      text-align: center;
    }
    .ft-btm-text {
      .region-footer-bottom-left {
        .footer-text {
          color: #68737d;
          font-weight: $fw5;
          font-size: $f16;
          line-height: $f24;
        }
      }
      .region-footer-bottom-right {
        display: flex;
        justify-content: end;
        @media screen and (max-width: (map-get($breakpoints, sm) - 1)) {
          justify-content: center;
          padding-right: 30px;
        }
        .imp-links {
          display: flex;
          li {
            a {
              color: $maincolor;
              font-weight: $fw5;
            }
          }
        }
      }
    }
  }
}
