@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  overflow-x: hidden;
  font-size: $f16;
  font-weight: $fw4;
}
.contextual-region {
  position: unset;
}
ul {
  list-style: none;
  li {
    a {
      text-decoration: none;
      color: $maincolor;
      span {
        display: none;
      }
      &:hover {
        color: $navhover;
      }
    }
  }
}
