$hovercolor: #fff;
$whitecolor: #fff;
$offwhite: #daeded;
$ylwcolor: #ed8f1c;
$maincolor: #17494d;
$navhover: #bf3654;
$linkhover: #3f7377;
$textcolor: #2f3941;
$offgrey: #68737d;
$blackcolor: #000;
$cardbody: #012b30;
$mbnavbg: #333333;
$sliderbg: #90bbbb;
$icon-padding: 10px;
$f10: 10px;
$f14: 14px;
$f16: 16px;
$f15: 15px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f25: 25px;
$f28: 28px;
$f26: 26px;
$f30: 30px;
$f32: 32px;
$f36: 36px;
$f34: 34px;
$f40: 40px;
$f44: 44px;
$f55: 55px;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$txtcenter: center;
$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
